.error {
  position: relative;
}

.error__text {
  position: absolute;
  bottom: 0;
  background-color: #da4a0c;
  width: 100%;
  padding: 8px 20px;
  top: 100%;
  left: 0;
  display: none;
  z-index: 2;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  height: fit-content;
}

.error_active .error__text {
  display: block;
}
