/*Форма отставить отзыв начало*/

.feedback-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 710px;
    margin-left: auto;
}

.feedback-form__title {
    font-weight: 700;
}

.feedback-form__field {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.feedback-form__findings {
    display: flex;
    gap: 40px;
    height: 49px;
}

.findings__username {
    width: 495px;
    padding: 15px 20px;
    border: 1px solid #888888;
}

.findings__estimate {
    width: 175px;
    padding: 15px 20px;
    border: 1px solid #888888;
}

.text__review {
    width: 100%;
    height: 190px;
    border: 1px solid #888888;
    padding: 15px 20px;
    resize: none;
}

.findings__input:hover {
    border: 1px solid black;
}

.findings__input:focus {
    border: 1px solid black;
}

.error_active .findings__input {
    border: 1px solid #da4a0c !important;
}

