
/*Стили для футера*/

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    background-color: #F0F0F0;
    height: 117px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0;
}

.footer__info {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

.footer__copyright {
   display: flex;
   flex-direction: column;
}

.footer__copyright-text {
    font-weight: 700;
}

