
.btn-like {
    display: flex;
    align-items: flex-start;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: fit-content;
}

/* .btn-like:hover > .btn-like__icon {
    fill: #F36223;
}

.btn-like:active > .btn-like__icon {
    fill: #A93A09;
} */

