.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    background-color: #F0F0F0;
    position: fixed;
    width: 100%;
    z-index: 2;
    box-shadow: 1px 1px 20px #888888;
}

.header__wrapper{
    justify-content: space-between;
    max-height: 80px;
    width: 100%;
    padding: 15px 20px 20px 0;
}

.header__main {
    display: flex;
    gap: 10px;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.header__title {
    font-size: 44px;
    line-height: 53px;
}

.header__icon {
    display: flex;
    gap: 28px;
}

.header__heart {
    display: flex;
    align-items: flex-end;
    position: relative;
}

.header__heart-img {
    width: 44px;
    height: 35px;
}

.header__cart {
    position: relative;
    
}

.header__heart::after {
    content: "12";
    background-color: rgba(243, 98, 35, 0.8);
    width: 26px;
    height: 20px;
    padding: 2px 5px;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: -11px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
}

.header__cart-img {
    width: 52px;
    height: 53px;
}

.header__cart::after {
    content: attr(data-count);
    background-color: rgba(243, 98, 35, 0.8);
    min-width: 20px;
    height: 20px;
    padding: 2px 6px;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    right: -7px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
}

.header__cart_counter-disabled::after {
    display: none;
}