.feedback-review {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 40px;
}

.feedback-review__review-card {
    display: flex;
    padding: 0;
    gap: 30px;
}

.review-card__userphoto {
    height: 140px;
    width: 140px;
    border-radius: 50%;
}

.review-card__content {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 20px;
}

.review-card__content-header {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
}

.review-card__content-header h4 {
    font-size: 20px;
    line-height: 24px;
}

.review-card__content-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*Стили для рейтинга начало*/
.rating-result {
    display: flex;
    padding: 0;
}

.rating-result__item {
    width: 30px;
}

/*Стили для рейтинга конец*/

.feedback-card__content-info {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
    font-size: 14px;
    line-height: 17px;
}