.home-page {
  height: 100vh;
}

.home-page__placeholder {
  height: calc(100% - 117px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-page__placeholder-item {
  max-width: 453px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #000000;
}

.home-page__placeholder-link {
  color: #008cf0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top: 20px;
}
