*, *:before, *:after {box-sizing: border-box;}

html {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

body {
    margin: 0;
}

/*Стили для контейнера начало*/
.body-container {
    margin: 0 auto;
}
/*Стили для контейнера конец*/
button, input, textarea, select {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    margin: 0;
}

p {
    margin: 0;
}

.link-primary {
    color: #008CF0;
    text-decoration: none;
}

.link-primary:hover {
    color: #F36223;;
}

.link-primary:active {
    color: #A93A09;
}

.btn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #888888;
}

.btn:hover {
    background-color: #DA4A0C;
}

.btn:active {
    background-color: #A93A09;
}

input, textarea {
    outline: none;
}

/*Стили для скрытыя элемента начало*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*Стили для скрытыя элемента конец*/

/*Стили для части заголовка "Мой"*/
.accent-text {
    color: #FF5722;
}


.wrapper {
    display: flex;
    max-width: 1400px;
}


/*Шапка сайта конец*/
.main-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 90px 8px 0;
}

.main {
    margin-bottom: 50px;
}

/*Навигация начало*/
.navigation {
    display: flex;
    gap: 4px;
    padding: 8px 0px;
    margin-top: 10px;
}
/*Навигация конец*/



/*Описание продукта начало*/

.product-image {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}
.product-image__title {
    font-size: 32px;
    line-height: 39px;
}

.product-image__pic {
    display: flex;
    gap: 10px;
}

.product-image__pic-item {
    max-height: 387px;
}

/*Описание продукта конец*/


/*Контейнер с характеристиками и сайдбаром начало*/
.product-content {
    display: flex;
    gap: 100px;
}
/*Контейнер с характеристиками и сайдбаром конец*/


/*Параметры продукта начало*/
.product-content__params {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    flex-grow: 1;
}

.params-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
/*Параметры продукта конец*/


/*Выбор цвета товара начало*/

.options {
    display: flex;
    gap: 10px;
}
/*Стили для радио-кнопки начало*/
.radio-btn {
    position: relative;
    cursor: pointer;
}

.radio-btn:hover > .radio-btn__elem {
    background-color: #F2F2F2;
}
.radio-btn__input:checked ~ .radio-btn__elem {
    border: 2px solid #F36223;
}

.radio-btn__input:active ~ .radio-btn__elem {
    border: 2px solid #A93A09;
}

.radio-btn__elem {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #888888;
    border-radius: 4px;
}

.radio-btn__elem-img {
    min-width: 80px;
    min-height: 80px;
}

.radio-btn__elem-btn {
    padding: 10px 20px;
}
/*Стили для радио-кнопки конец*/
/*Выбор цвета товара конец*/


/*Характеристики товара начало*/

.params-section__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    gap: 10px;
    list-style-type: none;
    margin: 0;
}

.params-section__list-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.params-section__list-item::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #888888;
    border-radius: 50%;
}
/*Характеристика товара конец*/


/*Таблица сравнения начало*/

.params-section__table {
    border: 1px solid #888888;
    border-collapse: collapse;
    
}

.table__head-item {
    border: 1px solid #888888;
    border-top: none;
    padding: 10px;
}

.table__cell-item {
    border-left: 1px solid #888888;
    text-align: center;
    padding: 10px;
}

.table__cell-item_left {
    text-align: left;
}

.table__row:hover {
    background-color: #F2F2F2;
}
/*Таблица сравнения конец*/


/*Стили для сайдбара начало*/
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 40px;
    flex-shrink: 0;
    max-width: 420px;
    width: 100%;
}
/*Блок с ценой товара начало*/
.order-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    box-sizing: border-box;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 100%;
}

.order-info__price {
    display: flex;
    justify-content: space-between;
}
.order-info__price-value {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price__previous {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price__previous-value {
    line-height: 16px;
    color: #888888;
    text-decoration-line: line-through;
}

.price__previous-discount {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    background-color: #F36223;
    border-radius: 500px;
    line-height: 16px;
    color: #FFFFFF;
}

.price__current {
    font-size: 32px;
    line-height: 39px;
}
/*Блок с ценой товара конец*/


/*Доставка начало*/

.order-info__delivery {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 0px 20px;
}

/*Доставка конец*/


/*Кнопка добавить в корзину начало*/
.btn_primary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    gap: 10px;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #F36223;
    border: none;
    width: 100%;
}

.btn_disabled, 
.btn_disabled:hover, 
.btn_disabled:active {
    background: #888888;
}


.btn_cart::before {
    content: "";
    background-image: url("./Cart.svg");
    background-repeat: no-repeat;
    width: 19px;
    height: 18px;
    background-position: center center;
    background-size: contain;
}
/*Кнопка добавить в корзину конец*/

/*Айфрейм начало*/

.sidebar-frame {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.frame__name {
    font-size: 14px;
    line-height: 17px;
    color: #888888;
}

.frame__banner {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.frame__item {
    border: 1px dashed #ccc;
    height: 300px;
}
/*Айфрейм конец*/

/*Стили для сайдбара конец*/



/*Отзывы начало*/
.feedback {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 25px;
    max-width: 880px;
    margin-bottom: 60px;
}

.separator {
    border-top: 1px dashed #888888;
    margin-left: 170px;
}

.feedback-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    gap: 10px;
    font-size: 24px;
    line-height: 29px;
}

.feedback-header__count {
    color: #AAAAAA;
}

/*Отзывы конец*/

.form {
    max-width: 880px;
    width: 100%;
}

.btn_secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    color: #FFFFFF;
    background-color: #F36223;
    border: none; 
}

/*Форма оставить отзыв конец*/


/*Медиазапросы*/
@media (max-width: 1499px) {
    .params-section_hidden {
        display: none;
    }

    .product-image__pic-item {
        max-height: 272px;
    }
}

@media (max-width: 1023px) {
    .product-image__pic-item {
        max-height: 250px;
    }
}

@media (min-width: 1024px) and (max-width: 1499px) {
   
    .product-content {
        gap: 40px;
    }

    .sidebar {
        max-width: 360px;
    }

    .feedback {
        max-width: 594px;
    }

    .review-card__userphoto {
        width: 100px;
        height: 100px;
    }

    .rating-result__item {
        width: 20px;
    }

    .form, .feedback-form {
        max-width: 594px;
    }
    .feedback-form {
        margin-left: 0;
    }

    .separator {
        margin-left: 130px;
    }

   
}


.hide {
    display: none;
}


.error {
    position: relative;
  }
  
  .error__text {
    position: absolute;
    bottom: 0;
    background-color: #da4a0c;
    width: 100%;
    padding: 8px 20px;
    top: 100%;
    left: 0;
    display: none;
    z-index: 2;
  
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    height: fit-content;
  }
  
  .error_active .error__text {
    display: block;
  }
  
